<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--   <test thread-count="5" name="Test">
    <classes>
      <class name="Browserclasses.one"/>
      <class name="Browserclasses.two"/>
    </classes>
  </test> --> <!-- Test -->
  
  
    <test thread-count="2" parallel="methods" name="DockerTest">
    <classes>
      <class name="DockerTest.SeleniumDocker"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
